[submodule "content"]
	path = content
	url = https://github.com/ctrl-alt-fail/tome.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
